<div class="info_doctor">
    <div class="card">
        <div class="center">
            <div class="background_picture">
                <div class="picture"></div>
            </div>
        </div>
        <h2>Dr. Brandon Velásquez</h2>
        <h5>Acerca del doctor</h5>
        <div class="about">
            <p>El Dr. Brandon Velásquez es un habilidoso medico y cirujano graduado en la universidad de harvard en el año 1995, siempre piensa en proteger y sanar a sus pacientes y darles el mejor servicio.</p>
        </div>
        <img src="../../../assets/images/logo.png" alt="Logo">
        
    </div>
</div>