/* You can add global styles to this file, and also import other style files */
:root{
    --bg-color: #EFEBE2;
    --primary-color: #D9D0C8;
    --secondary-color: #DFC2A8;
    --text-color-bold: #222B45;
    --text-color-regular: #6B779A;
}

*{
    background-color: var(--bg-color);
    font-family: Cookie;
}

h1{
    font-weight: 500;
    letter-spacing: 1.3px;
    font-size: 60px;
}
h2{
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 40px;
}
h3{
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 40px;
}
h5{
    letter-spacing: 1px;
    font-size: 20px;
}
p{
    color: #6B779A;
    font-size: 20px;
}

label{
    color: var(--text-color-regular);
    font-size: 20px;
}
.app{
    margin: 32px 0 32px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
